/* weather box */

.weather{
    width: 300px;
    height:fit-content;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .weather img{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .weather .temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .weather .temp h3{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .details{
    display: flex;
    gap: 20px;
    margin: 5vh 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
  }
  .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
  }